header{
    padding: 15px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav > div{
    display: flex;
    gap: 10px;
    align-items: center;
}

header nav > div ul{
    display: flex;
    gap: 10px;

}

header nav > div ul a{
    color: black;
}

.btn{
    padding: 5px 15px;
}

.btn--blue{
    background-color: #0161FF;
    color: white;
}

.jumbotron{
    background-color: #B4D0E7;
    padding: 20px 0;
}

.jumbotron h1{
    font-size: 3rem;
    margin-bottom: 20px;
}

.container-80{
    max-width: 80%;

}



.container-90{
    width: 90%;
    margin: 0 auto;

}

.jumbotron__info{
    display: flex;
    align-items: flex-start;
}

.jumbotron__text{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1rem;

}

.jumbotron__text a{
    width: 80%;
}

.jumbotron__text i{
    font-size: 3rem;

}


.jumbotron__img{
    flex-basis: 60%;
}

.jumbotron__img img{
    width: 100%;
}

/*.business-plan h2{
    margin-bottom: 20px;
}*/

.business-plan__radios{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    
        
}

.business-plan__choice{
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.business-plan__radio{
    height: 10px;
    aspect-ratio: 1;
    border: 1px solid lightslategray;
    border-radius: 50%;

}

.business-plan__radio--check{
    border: 2px solid;
}

/*main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}*/

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


section .container{
    display: flex;
    justify-content: space-between;

}

footer{
    background-color: black;
}


